<div class="add-startup">
<div class="container">
	

<div class="col-md-8 col-md-offset-2 startup-form">
	
		<h2 class="text-center"> Add New Startups</h2>

	<%= form_for(@startup) do |f| %>
	<p class="text-center "> Startup Info</p>
	
	<div class="field">
		<%=f.label :title %>
		<%= f.text_field :title ,class: "form-control" %>

<div class="field">
	<%= f.label :founders %>
	<%= f.text_field :founders ,class: "form-control"%>
</div>
	</div>



<div class="field">
	<%= f.label :description %>
	<%= f.text_area :description,class: "form-control",rows: 6 %>
</div>
<br>
<p class="text-center "> Socail Media</p>
<div class="field">
	<%= f.label "facebook Link"%>
	<%= f.text_field :facebook,class: "form-control",rows: 6 %>
</div>

<br>

<p class="text-center"> Optional Fields</p>

<div class="field">
	<%= f.label "Number of employees"%>
	<%= f.text_field :noemployees ,class: "form-control",placeholder: "Leave blank if you dont want to submit"%>
</div>

<br>
<br>
<br>
<br>
<br>

<div class="action">
	<%= f.submit "submit", class: "btn btn-lg btn-primary pull-right"%>
</div>

<% end %>
	</div>


	
</div>
	</div>