// Place all the styles related to the Addstartups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.add-startup
{
	background:linear-gradient(30deg,#3498db 0%,#F7CBC2 100%);
	background-image: image-url("bg.png");
}

.startup-form
{
	background-color: #fff;
	border-radius:3px;
	height:900px;
	opacity: 0.8;
	



}




