
body
{
	font-size:14px;
}


.h1indent
{
text-indent: -10000px;
font-size:0px;
}


.nav 
{

	background:none;
	li
	{

		&:hover
		{
			
		}

		a
		{
			font-family:"Open Sans",Helvetica;
			text-transform:uppercase;
			color:#3a3a3a;
			font-weight:300;


			&:hover{
				background:linear-gradient(30deg,#F16E66 0%,#F7CBC2 100%);
				background:none;
				color: #F16e66;
			}

		}
	}
}


.panel
{
	radius:0px;
	border-radius: 5px;
}

.panel-heading {background-color: #5A869B !important}


.navimage
{
	
	margin-top:0px;
	padding-top:0px;
	height:160px;
	background-position: 0px 300px;
	background-color:#fff;

	.ac-nav-image
	{
	width:250px;
	height:160px;
	}

}






.startupinfo
{
	min-height:400px;
	max-height: 400px;
	overflow:hidden;
	
}

.footer
{
	
	padding:2%;
	background-color:#2c3e50;
	p
	{
		color:#fff;
	}
}


.center
{
	padding-left:250px;
}


.pagination a, previous_page,next_page,.disabled,.current
{

	text-decoration:none;
	font-family:Roboto;
	font-style:normal;
	font-size: 18px;
	padding:6px;
	border: 1px solid #e3e3e3;
}

.main
{
	background-color:rgb(236, 240, 241);

}

.container-main
{
	margin-top:0px;
	padding-top:0px;

}


.content-suscribe
{

	background-color: #34495e;

	min-height:190px;
	padding:2%;

	h3{
		color:#fff;
	}
}

.navbar{
	margin-top:0px;
	padding-top:0px;
}



.navbar li a 
{
	font-size: 16px;
	color:#3F3F3F;
}

.headerimage{
	background-image: image-url("kl.gif");
	background-origin: 50px 200px;
	background-position: 0px 300px; 
}

.text-email{
	color:green;
}

.img-thumb
{
	width:100%;
}


.suscribe-heading
{
	font-size: 20px;
	color:#fff;
}

.div-pagination
{
	padding-left:40%;

}


