
<div class="headerimage" style="background-color:#1dd2af;height:290px">
	<div class="container">
		<div class="col-md-12 col-xs-12 col-sm-12"></div>
		<h2 class="text-center" style="font-family:Helvetica;color:#fff;">Handpicked Malaysian Startups</h2>
		
		<div class="col-md-6 col-md-offset-5">
			
			<p style="color:#fff"> Curated for you....</p>
			<p style="color:#fff"> Submit your startup now </p>

			<%= link_to("Submit your startup", new_addstartup_path,class: "btn btn-lg btn-success") %> 
		</div>
	</div>
</div>
</div>


<div class="col-md-12">
	<h2 class="text-center">Newly added</h2>
	<% @this_month.each do |new| %>
	<div class="col-md-2" style="background-color:#27ae60;margin:40px;border-radius:30px;height:60px;">
	
	<h4 class="text-center">
		
	 <%= new.title %>
	</h4>
		
	</div>

	<% end %>

</div>

<div class="main">
	
	<div class="container container-main">
	<h2 class="text-center">Startups</h2>
		<div class="row" style="margin-top:30px;">
			<% @info.each do |info| %>

			<div class="col-md-3 col-xs-12 col-sm-12">
				<div class="panel panel-success startupinfo">

					<div class="panel-heading">
						<%= info.title %>
					</div>


					<div class="panel-body">

						<%= image_tag info.image(:thumb),class: 'img-thumb' %>
						<p>Founders: <%= info.founders %> </p>
						<hr>
						<p>Info:  <%= info.description %> </p>
						<p> <%= link_to("more", info_path(info)) %></p>
						

					</div>



				</div>


			</div>

			<% end %>

			<div class="col-md-12  div-pagination">
				<%= will_paginate @info %>
			</div>

		</div>





	</div>



</div>


<div class="content-suscribe">
	<div class="col-md-5 col-md-offset-3">
		
		<p class="suscribe-heading">  
			Subscribe to Amazing Malaysian Startup Stories..
		</p>


		<div class="form-group">
			<label class="sr-only" for="">label</label>
			<input type="email" class="form-control" id="" placeholder="example@example.com">
		</div>

		<div class="col-md-6 col-md-offset-3">
			
			<button  class="btn btn-primary text-center">Submit</button>


			<button class="btn btn-warning text-center" data-toggle="modal" data-toggle="modal" data-target="#myModal">Why?</button>

		</div>


	</div>
</div>




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Why Suscribe ?</h4>
			</div>
			<div class="modal-body">
				<ul>
					<li>Get notified when new startup is added</li>
					<li>Get stories delivered right in your inbox</li>
					<li>Get to know about amazing things happening in Malaysia</li>
					<li>Get to know malaysian Tech ecosystem.</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Yes.I'm up</button>
			</div>
		</div>
	</div>
</div>


